body {
    background-color: #bebebe;
}
.footer {
    text-align: center;
}
.navbar-nav li a, footer p {
    color:  #bf0000;
}

.grisclair {
    background-color: #EEEEEE;
}

.sansmarge {
    margin-left: 0px;
    margin-right: 0px;
}
@font-face
{
    font-family:         'Alike-Regular';
    src:                 url('font/Alike-Regular.ttf');
}
@font-face
{
    font-family:         'AlikeAngular-Regular';
    src:                 url('font/AlikeAngular-Regular.ttf');
}
@font-face
{
    font-family:         'stratford';
    src:                 url('font/SoftMaker-StratfordSerial.ttf');
}
.card-body{
    font-family: 'stratford';
}
h1{
    text-underline: #cf0000;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #222;
}
.card-body h5{

    color: #bf0000;
}
