body {
    background-color: #bbb;
}
.footer {
    text-align: center;
}
.navbar-nav li a, footer p {
    color:  #bf0000;
}

.grisclair {
    background-color: #EEEEEE;
}

.sansmarge {
    margin-left: 0px;
    margin-right: 0px;
}

.card-body{
    font-family: "Comic Sans MS";
}
.card-body h1{
    color: #bf0000;
}
.card-body h5{
    color: #bf0000;
}
